<div id="page">
  
<h5>Editar Municipio</h5>

<%= render 'form' %>

<br class="clearfix" />
<%= link_to 'Ver', @municipio %> |
<%= link_to 'Volver', municipios_path %>
<br class="clearfix" />
<br class="clearfix" />

</div>