<div id="page">
	<h5>Municipio</h5>
		<p id="notice"><%= notice %></p>
		<p>
  			<b>Nombre:</b>
			  <%= @municipio.nombre %>
		</p>


		<%= link_to 'Editar', edit_municipio_path(@municipio) %> |
		<%= link_to 'Volver', municipios_path %>
		<br class="clearfix" />
		<br class="clearfix" />
</div>