<div id="page">
<h5>Editar Tipo de Certificado</h5>

<%= render 'form' %>

<br class="clearfix" />
<%= link_to 'Ver', @tipo_certificado %> |
<%= link_to 'Volver', tipos_certificados_path %>
<br class="clearfix" />
<br class="clearfix" />

</div>