<div id="page">
<h5>Editar Tipo de Norma Legal</h5>

<%= render 'form' %>

<br class="clearfix" />

<%= link_to 'Ver', @tipo_norma_legal %> |
<%= link_to 'Volver', tipos_normas_legales_path %>

<br class="clearfix" />
<br class="clearfix" />

</div>