<div id="page">
<h5>Editar Obra</h5>

<%= render 'form' %>

<br class="clearfix" />
<%= link_to 'Ver', @obra %> |
<%= link_to 'Volver', obras_path %>
<br class="clearfix" />
<br class="clearfix" />

</div>