<div id="page">
<h5>Editar contrato</h5>

<%= render 'form' %>


<br class="clearfix" />
<%= link_to 'Ver', @contrato %> |
<%= link_to 'Volver', contratos_path %>
<br class="clearfix" />
<br class="clearfix" />

</div>