<div id="page">
<h5>Editar Estado de Obra</h5>

<%= render 'form' %>

<br class="clearfix" />

<%= link_to 'Ver', @tipo_estado %> |
<%= link_to 'Volver', tipos_estados_path %>

<br class="clearfix" />
<br class="clearfix" />

</div>